<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

  <!-- Define targets (output destinations) -->
  <targets>
    <!-- Console target to write logs to the console -->
    <target name="console" xsi:type="Console" layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}" />
  </targets>

  <!-- Define logging rules -->
  <rules>
    <!-- Log everything to the console -->
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>