<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

    <!-- define various log targets -->
    <targets>
        <!-- write log message to file -->
        <target xsi:type="File" name="logfile" fileName="application.log" />
    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        <!-- log everything (from all namespaces) to the file target -->
        <logger name="*" minlevel="Trace" writeTo="logfile" />
    </rules>
</nlog>